/* need to dynamically change the padding of the nav manu when the screen size is squished */

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #414141; 
    color: #f0f0f0;
}
header {
    display: flex;
    align-items: center;
    background-color: #272727;
    color: #ffffffc0;
    padding: 1.5rem 0.7rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    flex-wrap: wrap;
}

header h1 {
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
    color: #ffffff;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-weight: normal;
    margin: 0;
    padding: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; 
}
header h1 span.left {
    flex: 0 1 auto;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 4rem;
}

header h1 span.center {
    flex: 1 1 auto;
    text-align: left;
    padding-right: 2rem;
}
header h1::before,
header h1::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px; 
    background: linear-gradient(to right, rgba(18, 93, 255, 0.75), hsla(199, 100%, 69%, 0.75), 
        hsla(59, 100%, 50%, 0.75), hsla(59, 100%, 50%, 0.75), hsla(14, 77%, 59%, 0.75), 
        hsla(0, 97%, 61%, 0.75)); 
}
header h1::before {
    top: -10px; 
}
header h1::after {
    bottom: -10px; 
}
nav {
    position: fixed;
    top: 0; 
    left: 0;
    height: 100%;
    width: 11rem;
    background-color: #333333;
    padding-top: 8rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999; 
}
nav .button {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    width: 80%;
    text-align: center;
    background-color: #333333;
    color: #ffffffd3;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: color 0.3s ease;
    position: relative;
}
nav .button:after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(18, 93, 255, 0.75), hsla(199, 100%, 69%, 0.75),hsla(59, 100%, 50%, 0.75), 
    hsla(59, 100%, 50%, 0.75), hsla(14, 77%, 59%, 0.75), hsla(0, 97%, 61%, 0.75)); /* Gradient colors */
    transition: width 0.3s ease;
}
nav .button:hover {
    background-color: #575757; 
    color: #ffffff;
}
nav .button:hover::after {
    width: 100%;
}
main {
    margin-left: calc(200px + 1rem); 
    padding: 2rem 1rem 2rem 1rem; 
    display: block; 
    font-size: 1.2rem; 
}
.form-container {
    padding: 1rem;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    text-align: center;
}
input[type="file"] {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    background-color: #575757;
    color: #ffffff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #6a6a6a;
}
.flashes {
    position: fixed; 
    top: 15rem; 
    transform: translateX(-50%); 
    z-index: 1000; 
    background-color: #ffcccb; 
    color: #660000; 
    border: 1px solid #660000; 
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    max-width: 400px; 
    text-align: center;
}
#toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 1000;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    animation: fadeIn 0.5s ease, fadeOut 5s ease forwards;
}

.toast.success {
    background-color: #4CAF50;
}

.toast.error {
    background-color: #F44336;
}

.toast.warning {
    background-color: #FFC107;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; display: none; }
}
footer {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #bbbbbb;
    text-align: center;
}