<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        main {
            margin-left: 220px; 
            padding: 2rem;
            padding-top: 9rem; 
            font-size: 1.2rem;
        }
        p {
            margin-bottom: 1rem;
        }
    </style>
</head>
    <body>
    <header>
        <h1>
            <span class="left">MACRO Observations: </span>
            <span class="center">Account Details</span>
        </h1>
    </header>

    {% include 'nav.html' %}

    <main>
        <h2>Account Details</h2>
        <p>First Name: {{ session['first_name'] }}</p>
        <p>Last Name: {{ session['last_name'] }}</p>
        <p>Email: {{ session['email'] }}</p>
        <p>User Level: {{ user_level }}</p>
    </main>
    {% include 'fadeout.html' %}
</body>
</html>