<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Observations</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        main {
            margin-left: 220px; 
            padding: 2rem;
            padding-top: 9rem; 
            font-size: 1.2rem;
        }
        p {
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <header>
        <h1>            
            <span class="left">MACRO Observations: </span>
            <span class="center">Manage Observations</span>              
            </h1>
    </header>

    {% include 'nav.html' %}

    <main>
        <h2>Manage Observations</h2>
        <p>Here you can view and edit observations.</p>
        <p>Click on an observation to view or edit it.</p>
        <p>Click on the "Edit" button to edit an observation.</p>
        <p>Click on the "Delete" button to delete an observation.</p>
        <p>Click on the "Add" button to add a new observation.</p>
        <p>Click on the "Back" button to return to the home page.</p>
        <p>Click on the "Logout" button to log out.</p>
    </main>
    {% include 'fadeout.html' %}
</body>
</html>