<nav>
    {% if user_level in ['novice', 'intermediate', 'advanced', 'admin'] %}
            <a href="/" class="button">Home</a>        
            <a href="/submit" class="button">Submit a Request</a>
            <a href="/observations" class="button">View & Edit Observations</a>
        {% if user_level in ['admin'] %}
            <a href="/admin" class="button">Admin</a>
        {% endif %}
        <a href="/account" class="button">Account</a>
        <!-- <a href="/faq" class="button">FAQ</a> -->
        <a href="/logout" class="button">Logout</a>
    {% endif %}

    {% if user_level == '' %}
        <a href="/" class="button">Home</a>
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
        <!-- <a href="/faq" class="button">FAQ</a> -->
    {% endif %}
</nav>