<nav>
    {% if user_level in ['novice', 'intermediate', 'advanced', 'admin'] %}
            <a href="/" class="button">Home</a>        
            <a href="/schedule" class="button">Schedule an Observation</a>
        {% if user_level in ['intermediate', 'advanced', 'admin'] %}
            <a href="/upload_schedule" class="button">Schedule from File</a>
            <a href="/view_observations" class="button">View & Edit Observations</a>
        {% endif %}
        {% if user_level in ['admin'] %}
            <a href="/manage_observations" class="button">Manage Observations</a>
            <a href="/admin_dashboard" class="button">Admin Dashboard</a>
        {% endif %}
        <a href="/account_details" class="button">Account Details</a>
        <!-- <a href="/faq" class="button">FAQ</a> -->
        <a href="/logout" class="button">Logout</a>
    {% endif %}

    {% if user_level == '' %}
        <a href="/" class="button">Home</a>
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
        <!-- <a href="/faq" class="button">FAQ</a> -->
    {% endif %}
</nav>