<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Observations</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</html>
<body>
    <header>
        <h1>
            <span class="left">MACRO Observations: </span>
            <span class="center">View & Edit Observations</span>
        </h1>
    </header>

    {% include 'nav.html' %}

    <main>

    </main>
    {% include 'fadeout.html' %}